<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Maven extension for Magento
 *
 * @category   Maven
 * @package    Maven_Bootstrap
 * @copyright  Copyright (C) 2013 MavenEcommerce Inc. (http://www.mavenecommerce.com/)
 */
-->
<config>
    <modules>
        <Maven_Mbootstrap>
            <version>0.0.1</version>
        </Maven_Mbootstrap>
    </modules>
    <frontend>
        <layout>
            <updates>
                <maven_mbootstrap>
                    <file>mbootstrap.xml</file>
                </maven_mbootstrap>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <maven_mbootstrap>
                <class>Maven_Mbootstrap_Block</class>
            </maven_mbootstrap>
            <core>
                <rewrite>
                    <messages>Maven_Mbootstrap_Block_Core_Messages</messages>
                </rewrite>
            </core>
        </blocks>
        <models>
            <maven_mbootstrap>
                <class>Maven_Mbootstrap_Model</class>
            </maven_mbootstrap>
        </models>
    </global>
</config>

